/*Global configs*/
:root {
    --main-bg-clr: #CBCBCB;
    --sec-bg-clr: #F1E9E9;
    --sec-clr: #982598;
    --inactive-color: #E491C9;
    --invalid-clr: #DC143C;
}

@font-face { 
    font-family: logo-font; 
    src: url("fonts/UnifrakturMaguntia-Regular.woff2"); 
} 

@font-face { 
    font-family: form-font; 
    src: url("fonts/SNPro-Regular.woff2");
} 

 @font-face { 
    font-family: fancy-font; 
    src: url("fonts/Pacifico-Regular.woff2");
}


/*Main container configs*/
.main {
    display: flex;
    flex-direction: row;
    height: 98vh;
}

/*-----------------------------------------------------------------------------------------------------*/
/*Form container configs*/
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 7;
    background-color: var(--main-bg-clr);
}

.form-content {
    background-color: var(--sec-bg-clr);
    height: 35%;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

h3 {
    font-family: form-font;
    font-size: 1.5rem;
}

.em-custom,
.sec-em {
    font-family: fancy-font;
    font-size: 1.5rem; 
}

.description {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.first-description {
    margin-bottom: 0.6875rem; 
}

.second-description {
    margin-top: 0.6875rem; 
}

legend {
    font-family: form-font;
    font-size: 1.5rem; 
    font-weight: 800;
    margin-left: 3.375rem;
    margin-top: 1rem; 
}

.left-right {
    display: flex;
    flex-direction: row;
}

.left-input {
    display: flex;
    flex-direction: column;
    width: 16.875rem; 
    margin-left: 3.375rem; 
    margin-top: 1.6875rem; 
}

input {
    margin-top: 0;
    margin-bottom: 1.25rem; 
    border-radius: 0.3rem; 
    border: 0.0625rem solid var(--sec-clr); 
    outline: none;
    height: 2rem;
}

input:focus {
    border-color: var(--sec-clr);
}

label,
input {
    font-family: form-font;
    font-size: 1rem; 
    color: #37353E;
}

.right-input {
    display: flex;
    flex-direction: column;
    width: 16.875rem; 
    margin-left: 3.375rem; 
    margin-top: 1.6875rem; 
}

.form-container .submit-container {
    align-self: flex-start;
    justify-self: left;
    margin-left: 1.6rem; 
    margin-top: 1.6rem; 
}

button {
    font-family: form-font;
    font-size: 1.3rem; 
    color: white;
    background-color: var(--sec-clr);
    border-radius: 0.4rem; 
    padding: 0.5rem 1rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.form-container .login-q {
    align-self: flex-start;
    justify-self: left;
    margin-left: 1.6rem; 
    margin-top: 0.7rem;
    font-size: 1.3rem; 
}

label a {
    text-decoration: none;
    color: var(--sec-clr);
    font-weight: 600;
}

/*-----------------------------------------------------------------------------------------------------*/
/*Image container configs*/

.image-container {
    flex: 3;
    display: flex;
    flex-direction: column;   
    justify-content: flex-start; 
    align-items: center;
    background-image: url("assets/scenery.jpg");
    background-size: cover;
    padding: 1rem;
    position: relative; 
}


.strip {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem; 
    background-color: rgba(0, 0, 0, 0.4);
    width: 106%;
    height: 8rem;
    margin-top: 38.3%; 
}

.logo {
    height: 6.75rem; 
    width: 5rem; 
}

.logo-text {
    font-size: 3.1875rem; 
    font-family: logo-font;
    color: white;
}


.image-container p {
    font-family: form-font;
    color: white;
    font-size: 1rem; 
    margin-top: auto;  
    margin-bottom: 1rem; 
}

.rights {
    text-decoration: underline;
    font-family: form-font;
    font-size: 1rem;
    color: white;
}